<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
    </head>

    <body>
            <h1 class="center">Create a token</h1>
            <form action="/login" method="POST">  
            <label for="name">Input Username</label>        
            <input type="username" name="username" plaseholder="Username"> <br><br>  
            <label for="name">Input Password</label>
            <input type="password" name="password" plaseholder="Password"> <br><br>    
            <label for="name">Click on the button</label>
            <input type="submit" value="Login">
            
        </form>

    
    </body>
</html>

